.betterfbm-container {
    position: absolute;
    width: calc(100% + 20px);
    height: 300px;
    background: #0000006b;
    top: 0;
    left: 0;
    z-index: 1000;
}

.betterfbm-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}